body {
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	font-family: monospace;
}

.main_body {
	position: relative;
	margin: auto;
	width: 600px;
	height: 100%;
	background-color: white;
	-webkit-user-select: none;

}

.main_button {
	display: table
	border-collapse: collapse;
	border-spacing: 20px;
	margin-top: 70px;
	text-align: center;
}

.main_button div {
	margin-top: 70px;
	text-align: center;
	display: table-cell;
	width: 170px;
	padding: 7px 10px 7px 10px;
	background: #3c3c5e;
	color: white;
	font-size: 27px;
	font-weight: bold;
	border-radius: 7px;
	border: 3px solid #22223c;

}

.main_button div:hover {
	cursor: pointer;
	background: #666699;
}

.data_table {
	overflow-y: auto;
	display: table;
	border-collapse: collapse;
	border-spacing: 100px 0px;
	text-align: center;
	border-spacing: 0;
	width: 597px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 20px;

}

.row {
	display: table-row;

}

.cell {
	display: table-cell;
	margin-left: 10px;
	padding: 10px 0px 10px 0px;
}

.cell img {
	position: absolute;
	width: 20px;
}

.remove_button {
	right: 15px;
}

.edit_button {
	top: 14px;
	right: 45px;
}

.cell img:hover {
	cursor: pointer;
}

#fields {
	border: 3px solid black;
	color: #a5a5a5;
	width: 100%;

}

.data {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

.data .cell {
	border-bottom: 2px dashed #bdbdbd;
	position: relative;
}

.data:nth-child(3) {
	border-top: 3px solid black;
}

.data:last-child {
	border-bottom: 3px solid black;
}

.green_button {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 30px;
	border: 3px solid black;
	color: white;
	background-color: #00b711;
	font-weight: bold;
	vertical-align: middle;
	
}

#ok_button {
	display: none;
	margin-top: 20px;
}

.green_button:hover {
	cursor: pointer;
	background-color: #00950e;
}

.green_button:active {
	background-color: #076100;
}

#input_block {
	font-size: 20px;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	display: none;
	border: 3px solid black;
}

.input_line div {
	width: 48%;
	display: inline-block;
}

.input_name {
	text-align: center;
}

input {
	padding-left: 5px;
	outline: none;
	width: 100%;
	font-size: 20px;
	font-family: monospace;
}